# Virtual Environment
venv/
.env/

# Python cache
__pycache__/
*.pyc

# Database
db.sqlite3

# Excel files (opsional kalau datanya besar / private)
*.xlsx

# Static collected (kalau django)
staticfiles/
